body{
    background-color: #222222;
}

div.Dev{
    color: crimson;
    text-align: center;
    line-height: 100px;
    font-size: 70px;
}

div.carimage{
text-align: center;}

div.car{
    text-align: center;
}

div.badzombie2dimage{
    text-align: center;
}

div.badzombie2d{
    text-align: center;
}

div.badzombieimage{
    text-align: center;
}

div.badzombie{
    text-align: center;
}

div.jumpermanimage{
    text-align: center;
}

div.jumperman{
    text-align: center;
}

div.car2image{
    text-align: center;
}

div.car2{
    text-align: center;
}