body{
    background-color: #222222;
}

div.Dev{
    color: crimson;
    text-align: center;
    line-height: 100px;
    font-size: 70px;
}

div.carvideo{
    text-align: center;
    line-height: 200px;
}

div.jumpermanvideo{
    text-align: center;
    line-height: 200px;
}

div.car{
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

div.jumperman{
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}